## Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [19]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [24]:
ratings.groupby('movieId').count().sort_values('rating', ascending=False).head()

         userId  rating  timestamp
movieId
356       81491   81491      81491
318       81482   81482      81482
296       79672   79672      79672
593       74127   74127      74127
2571      72674   72674      72674

In [30]:
ratings [ ratings.rating == 5 ].head() #получаем все фильмы с оценкой 5

    userId  movieId  rating   timestamp
0        1      296     5.0  1147880044
2        1      307     5.0  1147868828
3        1      665     5.0  1147878820
8        1     1237     5.0  1147868839
18       1     2632     5.0  1147878248

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [2]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [40]:
filtered = data[ ((data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia'))
                & ((data['category']==4) | (data['category']==12) | (data['category']==21))
                & ((data['year'] > 2005) & (data['year']<2010))]
result = filtered[ filtered.quantity >=0 ]
result.quantity.sum()

164555.0

## Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [12]:
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'

df = pd.read_html(page_url,  attrs = {'class': 'header_user_pricebox'}, encoding='utf-8')
df2 = pd.read_html(page_url,  attrs = {'class': 'quote_list'}, encoding='utf-8')

In [10]:
df[:5]

[     0       1      2        3       4      5        6       7     8   \
 0  ММВБ   2 999   0,4%   Nasdaq  11 554  -1,4%  Биткойн  15 409  0,7%
 1   РТС   1 233  -0,3%   S&P500   3 546  -0,1%    Нефть     441  0,1%
 2   Dow  29 421   0,9%  FTSE100   6 297   1,8%   Золото   1 880  0,1%

         9       10     11
 0  USD/RUB  763471  -0,4%
 1  EUR/RUB  903045  -0,3%
 2  EUR/USD   11827   0,1%  ]

In [13]:
df2[:5]

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB      1014828      -              1017342
 1          NaN            EUR/RUB       904882      -               905980
 2          NaN            USD/RUB       768520      -               766320
 3          NaN            JPY/RUB        07281      -                07283
 4          NaN            CNY/RUB       115872      -               115874
 5          NaN            CHF/RUB       837732      -               838078
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        11773      -                11821
 8          NaN            EUR/GBP        08918      -                08908
 9          NaN            EUR/JPY      1242815      -              1244150
 10         NaN            EUR/CHF        10799      -                10811
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        08492      -                08460
 13         NaN            USD/GBP        07574      -                07535
 14         NaN            USD/JPY      1055550      -              1052670
 15         NaN            USD/CHF        09174      -                09148
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        08000      -                08000
 18         NaN            JPY/GBP        00072      -                00072
 19         NaN            JPY/USD        00095      -                00095
 20         NaN    JPY/CHF (100:1)        08700      -                08700
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        13205      -                13269
 23         NaN            GBP/JPY      1393814      -              1396972
 24         NaN            GBP/EUR        11214      -                11224
 25         NaN            GBP/CHF        12111      -                12138
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        12111      -                12138
 28         NaN            EUR/CHF        10799      -                10811
 29         NaN    JPY/CHF (100:1)        08700      -                08700
 30         NaN            USD/CHF        09174      -                09148
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       332084      -               333131
 33         NaN            USD/UAH       282013      -               281825
 34         NaN            CHF/UAH       307404      -               308107
 35         NaN            GBP/UAH       372369      -               374010

           %  Абсолютное значение     Время
 0   -0,25 %               -02514  21:00:00
 1   -0,12 %               -01098  20:59:00
 2    0,29 %                02200  20:59:00
 3   -0,03 %               -00002  21:00:00
 4    0,00 %               -00003  20:59:00
 5   -0,04 %               -00346  21:00:00
 6         %  Абсолютное значение     Время
 7   -0,41 %               -00048  20:59:00
 8    0,12 %                00011  20:59:00
 9   -0,11 %               -01335  20:59:00
 10  -0,11 %               -00012  20:59:00
 11        %  Абсолютное значение     Время
 12   0,38 %                00032  21:00:00
 13   0,52 %                00039  21:00:00
 14   0,27 %                02880  20:59:00
 15   0,28 %                00026  20:59:00
 16        %  Абсолютное значение     Время
 17   0,10 %                00000  20:59:00
 18   0,23 %                00000  21:00:00
 19  -0,28 %                00000  21:00:00
 20   0,02 %                00000  20:59:00
 21        %  Абсолютное значение     Время
 22  -0,49 %               -00065  20:59:00
 23  -0,23 %               -03158  21:00:00
 24  -0,09 %               -00010  20:59:00
 25  -0,22 %               -00027  20:59:00
 26        %  Абсолютное значение     Время
 27  -0,22 %               -00027  20:59:00
 28  -0,11 %               -00012  20:59:00
 29   0,02 %                00000  20:59:00
 30   0,28 %                00026  20:59:00
 31        %  Абсолютное значение     Время
 32  -0,31 %               -01047  21:00:00
 33   0,07 %                00188  20:59:00
 34  -0,23 %               -00702  21:00:00
 35  -0,44 %               -01641  21:00:00  ]