# Домашнее задание к лекции "Базовые понятия статистики"

## Обязательная часть

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. 

### Задание 1. Базовое изучение

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names) и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

### Задание 2. Работа с выбросами

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

### Задание 3. Работа с пропусками

Рассчитать количество выбросов для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [1]:
import pandas as pd

In [2]:
# заменяем ? на пустые значения для корректности вычислений
horse_data = pd.read_csv("horse_data.csv", na_values='?')
horse_data.columns = ["surgery", "age", "hospital_number", 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'peripheral pulse', 'mucous membranes', 'capillary refill time', 'pain', 'peristalsis', 'abdominal distension', 'nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH', 'feces', 'abdomen', 'packed cell volume', 'total protein', 'abdominocentesis appearance', 'abdomcentesis total protein', 'outcome', 'surgical lesion', 'type of lesion1', 'type of lesion2', 'type of lesion3', 'cp_data']

In [3]:
horse_data.head()

,surgery,age,hospital_number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion,type of lesion1,type of lesion2,type of lesion3,cp_data
0,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
1,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
2,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
3,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
4,2.0,1,528355,NaN,NaN,NaN,2.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,1.0,2,0,0,0,2

In [4]:
horse_df = pd.DataFrame()

In [5]:
horse_df['Age'] = horse_data['age']
horse_df['Hospital_number'] = horse_data['hospital_number']
horse_df['Temperature'] = horse_data['rectal temperature']
horse_df['Pulse'] = horse_data['pulse']
horse_df['Mucous_membranes'] = horse_data['mucous membranes']
horse_df['Pain'] = horse_data['pain']
horse_df['Abdominal_distension'] = horse_data['abdominal distension']
horse_df['Abdomen'] = horse_data['abdomen']
horse_df

,Age,Hospital_number,Temperature,Pulse,Mucous_membranes,Pain,Abdominal_distension,Abdomen
0,1,534817,39.2,88.0,4.0,3.0,2.0,2.0
1,1,530334,38.3,40.0,3.0,3.0,1.0,1.0
2,9,5290409,39.1,164.0,6.0,2.0,4.0,NaN
3,1,530255,37.3,104.0,6.0,NaN,NaN,NaN
4,1,528355,NaN,NaN,3.0,2.0,2.0,3.0
...,...,...,...,...,...,...,...,...
294,1,533886,NaN,120.0,4.0,2.0,NaN,5.0
295,1,527702,37.2,72.0,4.0,4.0,3.0,4.0
296,1,529386,37.5,72.0,4.0,4.0,3.0,5.0
297,1,530612,36.5,100.0,3.0,3.0,3.0,4.0
298,1,534618,37.2,40.0,NaN,NaN,NaN,1.0

In [6]:
# расчитываем максимальное и минимальное значение в колонках
print(horse_df.max())
print(horse_df.min())

Age                           9.0
Hospital_number         5305629.0
Temperature                  40.8
Pulse                       184.0
Mucous_membranes              6.0
Pain                          5.0
Abdominal_distension          4.0
Abdomen                       5.0
dtype: float64
Age                          1.0
Hospital_number         518476.0
Temperature                 35.4
Pulse                       30.0
Mucous_membranes             1.0
Pain                         1.0
Abdominal_distension         1.0
Abdomen                      1.0
dtype: float64

In [7]:
# вычисляем размах значений
horse_df.max() - horse_df.min()

Age                           8.0
Hospital_number         4787153.0
Temperature                   5.4
Pulse                       154.0
Mucous_membranes              5.0
Pain                          4.0
Abdominal_distension          3.0
Abdomen                       4.0
dtype: float64

In [8]:
# вычисляем среднее арифмитическое и округляем до 3 знаков 
round(horse_df.mean(),3)

Age                           1.642
Hospital_number         1087747.656
Temperature                  38.167
Pulse                        71.935
Mucous_membranes              2.854
Pain                          2.943
Abdominal_distension          2.259
Abdomen                       3.685
dtype: float64

In [9]:
# рассчитаем моду
horse_df.round().mode().loc[0]

Age                          1.0
Hospital_number         527544.0
Temperature                 38.0
Pulse                       48.0
Mucous_membranes             1.0
Pain                         3.0
Abdominal_distension         1.0
Abdomen                      5.0
Name: 0, dtype: float64

In [10]:
# медиана, т.е половина лошадей имеет пульс выше 64 другая половина ниже 64, половина старше года, другая половина младше года и так далее
horse_df.median()

Age                          1.0
Hospital_number         530310.0
Temperature                 38.2
Pulse                       64.0
Mucous_membranes             3.0
Pain                         3.0
Abdominal_distension         2.0
Abdomen                      4.0
dtype: float64

In [11]:
# среднее квадратичное отклонение, поеазывает плотность расположение 
horse_df.std()

Age                     2.177300e+00
Hospital_number         1.532026e+06
Temperature             7.335084e-01
Pulse                   2.868052e+01
Mucous_membranes        1.620294e+00
Pain                    1.303993e+00
Abdominal_distension    1.061472e+00
Abdomen                 1.492667e+00
dtype: float64

In [12]:
# дисперсия
horse_df.var()

Age                     4.740634e+00
Hospital_number         2.347104e+12
Temperature             5.380345e-01
Pulse                   8.225723e+02
Mucous_membranes        2.625353e+00
Pain                    1.700398e+00
Abdominal_distension    1.126722e+00
Abdomen                 2.228054e+00
dtype: float64

In [13]:
#рассчет 0,25 и 0,75 квантили
horse_df.quantile([0.25, 0.75])

,Age,Hospital_number,Temperature,Pulse,Mucous_membranes,Pain,Abdominal_distension,Abdomen
0.25,1.0,528904.0,37.8,48.0,1.0,2.0,1.0,2.0
0.75,1.0,534736.0,38.5,88.0,4.0,4.0,3.0,5.0

In [14]:
# посчитаем межквартильный размах
q1 = horse_df.quantile(0.25)
q2 = horse_df.quantile(0.75)
q3 = q2-q1
q3

Age                        0.0
Hospital_number         5832.0
Temperature                0.7
Pulse                     40.0
Mucous_membranes           3.0
Pain                       2.0
Abdominal_distension       2.0
Abdomen                    3.0
dtype: float64

In [15]:
#рассчет всех метрик методом describe
horse_df.describe()

,Age,Hospital_number,Temperature,Pulse,Mucous_membranes,Pain,Abdominal_distension,Abdomen
count,299.00000,2.990000e+02,239.000000,275.000000,253.000000,244.000000,243.000000,181.000000
mean,1.64214,1.087748e+06,38.166527,71.934545,2.853755,2.942623,2.259259,3.685083
std,2.17730,1.532026e+06,0.733508,28.680522,1.620294,1.303993,1.061472,1.492667
min,1.00000,5.184760e+05,35.400000,30.000000,1.000000,1.000000,1.000000,1.000000
25%,1.00000,5.289040e+05,37.800000,48.000000,1.000000,2.000000,1.000000,2.000000
50%,1.00000,5.303100e+05,38.200000,64.000000,3.000000,3.000000,2.000000,4.000000
75%,1.00000,5.347360e+05,38.500000,88.000000,4.000000,4.000000,3.000000,5.000000
max,9.00000,5.305629e+06,40.800000,184.000000,6.000000,5.000000,4.000000,5.000000

# выбросы

Будем исследовать метрики здоровых лошадей, поэтому выбросами будут какие-либо критичные значения разных параметров.
- температура 

Нормальная температура составляет 37,8, поэтому уберем все, что ниже 36,5 и все что выше 39,1 (с равным размахом 1,3).
- пульс

Убираем значения меньше 50 и больше 150
- слизистая оболочка

берем значени 1,2 и 3 (1,2 - с лошадью все хороше, значение 3 свидетельстует о ранем шоке)

- боль
1 = тревога, не боль

2 = депрессия

3 = перемежающаяся умеренная боль

4 = кратковременные сильные боли

5 = непрерывная сильная боль

Берем значения 1, 2, 3

- вздутие живота
1 = Нет

2 = незначительно

3 = умеренный

4 = тяжелый

Выбираем значения 1,2

- живот 

1 = нормальный

2 = другое

3 = твердые фекалии в толстой кишке

4 = растянутая тонкая кишка

5 = раздутая толстая кишка

т.к. 3 требует медикаментозного лечения без хирургического вмешательства, то выбираем значения от 1 до 3

In [16]:
# создаем норвый дф применяя фильтры для удобства вычислений
healthy_house =pd.DataFrame()

In [17]:
healthy_house['Age'] = horse_df['Age']
healthy_house['Hospital_number'] = horse_df['Hospital_number']
healthy_house['Temperature'] = horse_df.Temperature[(horse_df.Temperature >36.5) & (horse_df.Temperature < 39.1)]
healthy_house['Pulse'] = horse_df.Pulse[(horse_df.Pulse >50) & (horse_df.Pulse < 150)]
healthy_house['Mucous_membranes'] = horse_df.Mucous_membranes[(horse_df.Mucous_membranes == 1) |(horse_df.Mucous_membranes == 2)| (horse_df.Mucous_membranes == 3)]
healthy_house['Pain'] = horse_df.Pain[(horse_df.Pain == 1) | (horse_df.Pain == 2) | (horse_df.Pain == 3)]
healthy_house['Abdominal_distension'] = horse_df.Abdominal_distension[(horse_df.Abdominal_distension == 1) | (horse_df.Abdominal_distension == 2)]
healthy_house['Abdomen'] = horse_df.Abdomen[(horse_df.Abdomen >0) & (horse_df.Abdomen < 4)]

In [18]:
healthy_house

,Age,Hospital_number,Temperature,Pulse,Mucous_membranes,Pain,Abdominal_distension,Abdomen
0,1,534817,NaN,88.0,NaN,3.0,2.0,2.0
1,1,530334,38.3,NaN,3.0,3.0,1.0,1.0
2,9,5290409,NaN,NaN,NaN,2.0,NaN,NaN
3,1,530255,37.3,104.0,NaN,NaN,NaN,NaN
4,1,528355,NaN,NaN,3.0,2.0,2.0,3.0
...,...,...,...,...,...,...,...,...
294,1,533886,NaN,120.0,NaN,2.0,NaN,NaN
295,1,527702,37.2,72.0,NaN,NaN,NaN,NaN
296,1,529386,37.5,72.0,NaN,NaN,NaN,NaN
297,1,530612,NaN,100.0,3.0,3.0,NaN,NaN
298,1,534618,37.2,NaN,NaN,NaN,NaN,1.0

видим, что кол-во записей не изменилось, но наши фильтры заполнились пустыми значениями, рассчитаем лосновные метрики для данного датафрейма и посмотрим как изменились показатели для здоровых лошадей

In [19]:
print(healthy_house.mean())
print(horse_df.mean())

Age                     1.642140e+00
Hospital_number         1.087748e+06
Temperature             3.806106e+01
Pulse                   8.189840e+01
Mucous_membranes        1.874251e+00
Pain                    2.176829e+00
Abdominal_distension    1.460993e+00
Abdomen                 1.750000e+00
dtype: float64
Age                     1.642140e+00
Hospital_number         1.087748e+06
Temperature             3.816653e+01
Pulse                   7.193455e+01
Mucous_membranes        2.853755e+00
Pain                    2.942623e+00
Abdominal_distension    2.259259e+00
Abdomen                 3.685083e+00
dtype: float64

In [20]:
print(healthy_house.median())
print(horse_df.median())

Age                          1.0
Hospital_number         530310.0
Temperature                 38.1
Pulse                       80.0
Mucous_membranes             2.0
Pain                         2.0
Abdominal_distension         1.0
Abdomen                      2.0
dtype: float64
Age                          1.0
Hospital_number         530310.0
Temperature                 38.2
Pulse                       64.0
Mucous_membranes             3.0
Pain                         3.0
Abdominal_distension         2.0
Abdomen                      4.0
dtype: float64

In [21]:
print(healthy_house.std())
print(horse_df.std())

Age                     2.177300e+00
Hospital_number         1.532026e+06
Temperature             4.901669e-01
Pulse                   2.316619e+01
Mucous_membranes        8.996629e-01
Pain                    7.827588e-01
Abdominal_distension    5.002532e-01
Abdomen                 7.945791e-01
dtype: float64
Age                     2.177300e+00
Hospital_number         1.532026e+06
Temperature             7.335084e-01
Pulse                   2.868052e+01
Mucous_membranes        1.620294e+00
Pain                    1.303993e+00
Abdominal_distension    1.061472e+00
Abdomen                 1.492667e+00
dtype: float64

In [22]:
print(healthy_house.var())
print(horse_df.var())

Age                     4.740634e+00
Hospital_number         2.347104e+12
Temperature             2.402636e-01
Pulse                   5.366724e+02
Mucous_membranes        8.093933e-01
Pain                    6.127114e-01
Abdominal_distension    2.502533e-01
Abdomen                 6.313559e-01
dtype: float64
Age                     4.740634e+00
Hospital_number         2.347104e+12
Temperature             5.380345e-01
Pulse                   8.225723e+02
Mucous_membranes        2.625353e+00
Pain                    1.700398e+00
Abdominal_distension    1.126722e+00
Abdomen                 2.228054e+00
dtype: float64

Можем сделать вывод, что значительную роль для здоровых лошадей играет состояние живота, т.к. в этих показателях самое большое расхождение, также у здоровых лошадей очень большой разброс в показателе слизистой оболочки.

# Пропуски

In [23]:
for col in horse_df.columns:
    missing = horse_df[col].isnull().mean()
    print(f'{col} - {missing :.1%}')

Age - 0.0%
Hospital_number - 0.0%
Temperature - 20.1%
Pulse - 8.0%
Mucous_membranes - 15.4%
Pain - 18.4%
Abdominal_distension - 18.7%
Abdomen - 39.5%

 Больше всего пропусков в колонке со вздутием живота, колонки возраста и номера не имеют пропусков

In [24]:
# кол-во пропусков в каждой колонке
for col_count in horse_df.columns:
    missing_count = horse_df[col_count].isnull().sum()
    print(f'{col_count} - {missing_count}')

Age - 0
Hospital_number - 0
Temperature - 60
Pulse - 24
Mucous_membranes - 46
Pain - 55
Abdominal_distension - 56
Abdomen - 118

В колонках "Abdominal_distension", "Pain", "Temperature" логичнее пропуски заполнять медианой, т к в средне квадратичном отклонении показатель сильно изменилася при выбросах.

В колонке с пульсом самое незначительное кол-во пропусков, поэтому можно запонить колонку модой.

Т.к. показатель "Abdomen " сыграл важню роль в рассчете для показателей здоровых лошадей, его необходимо заполнить средним арифмитическим в разрезе возраста, чтобы вычисления были максимально точнные

колонку "Mucous_membranes" заполним среднем арифмитическим

In [25]:
horse_df.Pulse.fillna(horse_df.Pulse.mode().loc[0], inplace=True)
horse_df.Abdominal_distension.fillna(round(horse_df.Abdominal_distension.median()), inplace=True)
horse_df.Pain.fillna(round(horse_df.Pain.median()), inplace=True)
horse_df.Temperature.fillna(horse_df.Temperature.median(), inplace=True)
horse_df.Mucous_membranes.fillna(horse_df.Temperature.mean(), inplace=True)
horse_df.Abdomen.fillna(horse_df.groupby(['Age', 'Abdominal_distension']).Abdomen.transform('mean'), inplace=True)

In [26]:
horse_df.head()

,Age,Hospital_number,Temperature,Pulse,Mucous_membranes,Pain,Abdominal_distension,Abdomen
0,1,534817,39.2,88.0,4.0,3.0,2.0,2.0
1,1,530334,38.3,40.0,3.0,3.0,1.0,1.0
2,9,5290409,39.1,164.0,6.0,2.0,4.0,4.0
3,1,530255,37.3,104.0,6.0,3.0,2.0,3.6
4,1,528355,38.2,48.0,3.0,2.0,2.0,3.0

## Дополнительная часть (необязательная)

Выполнить задания 1-3 для всего набора данных.

#### ПРИМЕЧАНИЕ
Домашнее задание сдается ссылкой на репозиторий [GitHub](https://github.com/).
Не сможем проверить или помочь, если вы пришлете:
- файлы;
- архивы;
- скриншоты кода.

Все обсуждения и консультации по выполнению домашнего задания ведутся только на соответствующем канале в slack.

##### Как правильно задавать вопросы аспирантам, преподавателям и коллегам
Прежде чем задать вопрос, попробуйте найти ответ в интернете. Навык самостоятельного поиска информации — один из важнейших. Каждый практикующий специалист любого уровня делает это ежедневно.

Сформулируйте вопрос по алгоритму:  
1) Что я делаю?  
2) Какого результата я ожидаю?  
3) Как фактический результат отличается от ожидаемого?  
4) Что я уже попробовал сделать, чтобы исправить проблему?  

По возможности прикрепите к вопросу скриншоты либо ссылки на код. Не выкладывайте все решение, оставляйте только проблемный и воспроизводимый участок кода.